@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(234, 237, 235);
    color: rgb(20, 20, 20);
}

img {
    margin: 0 auto;
    max-width: 80vw;
}

h3 {
    margin: 0 auto;
    width: 65vw;
    text-align: left;
    line-height: 2em;
    display: inline-block;
}

button {
    font-family: inherit;
    color: rgba(30, 215, 96, 0.8);
    background-color: rgba(25, 20, 20, 0.9);
    border-radius: 5px;
    border: none;
    margin: 0 2vw;
}

li button {
    width: 95vw;
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li img {
    max-width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin: 0 auto;
    padding: 3vh 3vw;
    border-radius: 50%;
}


ul {
    padding: 0;
    margin: 0 auto;
}


.link {
    text-decoration: none;
    color: rgb(126, 168, 190);
}

.link:visited {
    color: rgb(120, 113, 170);
}

.link:active {
    color: rgb(203, 133, 137);
}

.profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.details {
	width: 90vw;
}

#search {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#logo {
    max-width: 40vw;
}

@media screen and (min-width: 600px) {
	img {
		max-width: 45vw;
	}
    li button {
        width: 50vw;
    }

    li img {
        height: 10vw;
        width: 10vw;
    }

    h3 {
        width: 33vw;
        font-size: 1.5rem;
    }

}